{% extends '_layouts/in_app.html.twig' %}

{% block title %}Accueil - X Clone{% endblock %}

{% block content %}
    <div class="feed-header">
        <h2>Pour vous</h2>
        <h2>Abonnements</h2>
    </div>

    <div class="create-post">
         <img src="{{ asset('pdp.jpg') }}" alt="Mon profil" class="avatar">
        <div class="input-area">
            <input type="text" placeholder="Quoi de neuf ?">
            <div class="actions">
                <div class="icons">
                    <i class="fa-regular fa-image"></i>
                    <i class="fa-solid fa-list-ul"></i>
                    <i class="fa-regular fa-face-smile"></i>
                </div>
                <button class="post-btn-small">Poster</button>
            </div>
        </div>
    </div>

    <div class="post">
         <img src="https://i.pravatar.cc/100?img=12" alt="Avatar Dev Web" class="avatar">
        <div class="post-content">
            <div class="post-header">
                <span class="name">Terreur Nocturne</span>
                <span class="handle">@LaMachine • 2h</span>
            </div>
            <p class="text">Il est actuellement 22h30, je veux dormir et pas faire une interface de faux "X"</p>
            <div class="post-footer">
                <span><i class="fa-regular fa-comment"></i> 12</span>
                <span><i class="fa-solid fa-retweet"></i> 5</span>
                <span><i class="fa-regular fa-heart"></i> 42</span>
                <span><i class="fa-solid fa-chart-simple"></i> 1.2k</span>
            </div>
        </div>
    </div>

    <div class="post">
         <img src="https://i.pravatar.cc/100?img=3" alt="Avatar Elon Fake" class="avatar">
        <div class="post-content">
            <div class="post-header">
                <span class="name">Elon Grec</span>
                <span class="handle">@MarchandDeSable • 4h</span>
            </div>
            <p class="text">JE VEUX DORMIRRRRRRRRRRRRRRRRRR</p>
            <div class="post-footer">
                <span><i class="fa-regular fa-comment"></i> 540</span>
                <span><i class="fa-solid fa-retweet"></i> 10k</span>
                <span><i class="fa-regular fa-heart"></i> 25k</span>
                <span><i class="fa-solid fa-chart-simple"></i> 1M</span>
            </div>
        </div>
    </div>
{% endblock %}
